<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">

    <table border="1">
      <caption>Hight Score</caption>
      <tr>
        <th>Player</th>
        <th>Attempts</th>
        <th>Hints left</th>
        <th>Score</th>
      </tr>
      <% @request.session[:score].each do |s| %>
      <tr><td><%= s[:name] %></td><td><%= Codebreaker::Game::ATTEMPTS - s[:attempts_left]%></td><td><%= s[:hints_left] %></td><td><%= s[:score] %></td></tr>
      <% end %>
    </table>

    <form method="post" action="/start_game">
      <input type="submit" value="restart">
    </form>

    </div>
  </body>
</html>