<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
    <p>player: <%= game.user_name %></p>
    <p>score: <%= game.score %></p>
    <p>attempts left: <%= game.attempts %></p>
    <p>hints left: <%= game.hint_count %></p>
    </div>
  </body>
</html>