<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <p>You win!</p>
      <form method="post" action="/start_game">
        <input type="submit" value="restart" autofocus>
      </form>
    </div>
  </body>
</html>