<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <p>You win!</p>
      <p>Enter your name to save high score, or restart for new game:</p>
      <form method="post" action="/save_score">
        <input name="user_name" type="text" pattern='[A-Za-z0-9]{1,8}' autofocus required>
        <input type="submit" value="ok">
      </form>
      <form method="post" action="/start_game">
        <input type="submit" value="restart">
      </form>
    </div>
  </body>
</html>